@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat", sans-serif;
}

*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 7rem;
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  font-size: 4rem;
}

span {
  font-size: 10rem;
  font-weight: 700;
}

.btn {
  width: 100px;
  height: 30px;
  padding: 5px;
  display: inline-block;
  border: 2px solid gray;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn:hover {
  background: rgb(224, 223, 223);
}
